<%- layout('layouts/main.ejs') %>

<title>Cliente</title>
    <h1>Cliente Page</h1>
    <ul>
        <li>nickname: <%= user.name %></li>
        <li>age: <%= user.birthdate %></li>
        <li>email: <%= user.email %></li>
        <li>_id: <%= user._id %></li>
    </ul>
