<%- layout('layouts/main.ejs') %>
<h1 class="text-center">Mis Solicitudes</h1>
 <!-- LIST -->
 <div class="col-md-auto">
        <table class="table table-bordered table-hover">
          <thead>
                <tr>
                  <th>N°</th>
                  <th>Descripción</th>
                  <th>Fecha</th>
                </tr>
              </thead>  
          <tbody>
            <% for(var i=0,j=1; i < request.length; i++) { %>
                <% if (user._id == request[i].userid) { %>                
                <tr>
                    <td><%= j++%></td>
                    <td>Servicio de <strong><%= request[i].title %></strong> por <strong><%= request[i].providername %></strong></td>
                    <td><strong><%= request[i].requestdate %></strong></td>          
                </tr>
                <% } %>
            <% } %>
          </tbody>
        </table>
  
      </div>
    </div>
  
  </div>