<%- layout('layouts/main.ejs') %>
 <!-- LIST -->
 <div class="col-md-auto">
    <div class="card-header text-center" ><h3>Mis Solicitudes</h3></div>
        <table class="table table-bordered table-hover">
          <thead>
                <tr>
                  <th>N°</th>
                  <th>Descripción</th>
                  <th>Valoración</th>
                </tr>
              </thead>  
          <tbody>
            <% for(var i=0,j=1; i < request.length; i++,k++) { %>
                <% if (user._id == request[i].userid) { %>                
                <tr>
                    <td><%= j++%></td>
                    <td>Servicio de <strong><%= request[i].title %></strong> por <strong><%= request[i].providername %></strong>el <strong><%= request[i].requestdate %></strong></td>
                        <% for(var k=0; k < services.length; k++) { %>
                            <% if (request[i].title == services[k].title) { %>  
                          <form action="/rateservice/<%= services[k]._id %>" method="POST">
                              <div class="form-group">
                                  <input id="hidden_field" name="rating" type="hidden" value="<%= services[k].rating + 1 %>" />
                                </div>
                            <% } %>
                          <% } %> 
                    <td>
                      <button type="submit" class="btn btn-prymary btn-dark">Lo recomiendo!</button></td>
                    </form>         
                </tr>
                <% } %>
            <% } %>
          </tbody>
        </table>
  
      </div>
    </div>
  
  </div>