<%- layout('layouts/main.ejs') %>

<h1>Mis Solicitudes</h1>

 <!-- LIST -->
 <div class="col-md-7">
        <table class="table table-bordered table-hover">
          <thead>
                <tr>
                  <th>N°</th>
                  <th>Titulo</th>
                </tr>
              </thead>  
          <tbody>
            <% for(var i=0,j=1; i < request.length; i++) { %>
                <% if (user._id == request[i].userid) { %>                
                <tr>
                    <td><%= j++%></td>
                    <td>Servicio de <strong><%= request[i].title %></strong> por <strong><%= request[i].providername %></strong> el día <strong><%= request[i].requestdate %></strong></td>
                              
                </tr>
                <% } %>
            <% } %>
          </tbody>
        </table>
  
      </div>
    </div>
  
  </div>