<%- layout('layouts/main.ejs') %>


    <div class="col-md-4 offset-md-4">
        <div class="card mt-2 text-center">
          <div class="card-header"><h3>Perfil de <%= service.username %></h3></div>
            <div class="card-body">
              <p class="card-text"><ul>

                <b>Información básica de del Prestador:</b><br>
                    <% for(var i=0,j=1; i < users.length; i++) { %>
                        <% if (service.userid == users[i]._id) { %>          
                            <li>Nombre Completo: <%= users[i].name %></li>
                            <li>E-mail: <%= users[i].email %></li>
                        <% } %>
                    <% } %>
                    

                    <br><b>Ofrece los siguientes servicios:</b><br>
                    <% var cont=1 %>
                    <% for(var i=0; i < services.length; i++) { %>
                      <% if (service.userid == services[i].userid) { %>          
                          <%= cont %>. <%= services[i].title %> (<%= services[i].rating %> Recomendaciones) <br>
                          <% cont=cont + 1 %>
                      <% } %>
                    <% } %>


            </ul></p>
            </div>
        </div>
    </div>
  