<%- layout('layouts/main.ejs') %>
<!-- LIST -->
<h5 style="text-align: center">Buscar Servicios</h5>

<div style="padding-left: 100px">

    <select id="category" onchange="ShowSelected();" name="category">
        <option value="carpintero">Carpintero</option>
        <option value="cerrajero">Cerrajero</option>
        <option value="mecánico">Mecánico</option>
        <option value="electricista">Electricista</option>
        <option value="conductor">Conductor</option>
        <option value="albañil">Albañil</option>
        <option value="fontanero">Fontanero</option>
        <option value="pintor">Pintor</option>
        <option value="tapicero">Tapicero</option>
        <option value="camarero">Camarero</option>
        <option value="pescador">Pescador</option>
        <option value="frutero">Frutero</option>
        <option value="carnicero">Carnicero</option>
        <option value="agricultor">Agricultor</option>
        <option value="herrero">Herrero</option>
        <option value="sastre">Sastre</option>
</select>

</div>

<div class="col-md-auto">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>N°</th>
          <th>Titulo</th>
          <th>Descripción</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0,j=1; i < services.length; i++) { %>
          <% if (services[i].category == services[i].userid) { %>              
          <tr>
            <td><%= j++%></td>
            <td><strong><%= services[i].title %></strong></td>
            <td><%= services[i].description %></td>
            <td>
              <a
                class="<%= services[i].status ? 'btn btn-success' : 'btn btn-dark'%>"
                href="/turn/<%= services[i]._id %>">Principal</a>
              <a href="/delete/<%= services[i]._id %>"
                class="btn btn-danger">
                Borrar
              </a>
              <a href="/editService/<%= services[i]._id %>" class="btn btn-info">
                Editar
              </a>
            </td>                
          </tr>
          <% } %>
        <% } %>
      </tbody>
    </table>

  </div>
