<%- layout('layouts/main.ejs') %>

<h4 class="text-center" style="margin-bottom: -25px; margin-top: -15px; ">&nbsp;&nbsp;</h4>

<div class="row" style="padding: 10px;  max-width: 100%; margin-left: 0px;" >
  
    <% for(var i=0; i < services.length; i++) { %>
      <div style="padding: 5px; display:inline-block ">
      <div id="card" class="card text-white mb-3" style="max-width: 20em">
          <div id="card-h" class="card-header text-center font-weight-bold"><%= services[i].title %></div>
          <img id="card-i" class="card-img-top" style="max-width: 10rem; max-height: 10rem; display:block; margin:auto;" src="https://images.vexels.com/media/users/3/135118/isolated/preview/676bf0e9f3c16649cd7f426c6dcd755a-flat-user-sign-with-round-background-by-vexels.png" alt="Card image cap">
          <div id="card-b" class="card-body">
            <p class="card-title text-center bg-dark" style="border-radius: 20px">Prestador: <%= services[i].username %></p>
          <p class="card-title text-center bg-danger" style="border-radius: 5px; padding: 5px;"><% if (services[i].status) { %> <img style="width: 20px; height: 20px;" src="https://i.ibb.co/wYx2XQn/clock.png" alt=""> Disponibilidad Inmediata <% } else { %> Confirmar Disponibilidad <% } %></p>
            <hr><p class="card-text text-justify bg-dark" style="border-radius: 5px; padding: 5px;"><%= services[i].description %></p><hr>
            <% if (user && !user.isServiceProvider() && services[i].rating <= 5) { %><a href="/requestservice/<%= services[i]._id %>"><button type="button" class="btn btn-light">Solicitar</button></a>&nbsp&nbsp<a href="/requestservice/<%= services[i]._id %>"><button type="button" class="btn btn-light">Consultar</button></a> &nbsp<span class="fa fa-star"> </span><span class="fa fa-star"> </span><span class="fa fa-star"> </span><span class="fa fa-star"> </span><span class="fa fa-star"></span><% } %>
            <% if (user && !user.isServiceProvider() && services[i].rating > 5 && services[i].rating <= 10) { %><a href="/requestservice/<%= services[i]._id %>"><button type="button" class="btn btn-light">Solicitar</button></a>&nbsp&nbsp<a href="/requestservice/<%= services[i]._id %>"><button type="button" class="btn btn-light">Consultar</button></a> &nbsp<span class="fa fa-star checked"> </span><span class="fa fa-star"> </span><span class="fa fa-star"> </span><span class="fa fa-star"> </span><span class="fa fa-star"></span><% } %>
            <% if (user && !user.isServiceProvider() && services[i].rating > 10 && services[i].rating <= 15) { %><a href="/requestservice/<%= services[i]._id %>"><button type="button" class="btn btn-light">Solicitar</button></a>&nbsp&nbsp<button type="button" class="btn btn-light">Consultar</button> &nbsp<span class="fa fa-star checked"> </span><span class="fa fa-star checked"> </span><span class="fa fa-star"> </span><span class="fa fa-star"> </span><span class="fa fa-star"></span><% } %>
            <% if (user && !user.isServiceProvider() && services[i].rating > 15 && services[i].rating <= 20) { %><a href="/requestservice/<%= services[i]._id %>"><button type="button" class="btn btn-light">Solicitar</button></a>&nbsp&nbsp<button type="button" class="btn btn-light">Consultar</button> &nbsp<span class="fa fa-star checked"> </span><span class="fa fa-star checked"> </span><span class="fa fa-star checked"> </span><span class="fa fa-star"> </span><span class="fa fa-star"></span><% } %>
            <% if (user && !user.isServiceProvider() && services[i].rating > 20 && services[i].rating <= 25) { %><a href="/requestservice/<%= services[i]._id %>"><button type="button" class="btn btn-light">Solicitar</button></a>&nbsp&nbsp<button type="button" class="btn btn-light">Consultar</button> &nbsp<span class="fa fa-star checked"> </span><span class="fa fa-star checked"> </span><span class="fa fa-star checked"> </span><span class="fa fa-star checked"> </span><span class="fa fa-star"></span><% } %>
            <% if (user && !user.isServiceProvider() && services[i].rating > 25) { %><a href="/requestservice/<%= services[i]._id %>"><button type="button" class="btn btn-light">Solicitar</button></a>&nbsp&nbsp<button type="button" class="btn btn-light">Consultar</button> &nbsp<span class="fa fa-star checked"> </span><span class="fa fa-star checked"> </span><span class="fa fa-star checked"> </span><span class="fa fa-star checked"> </span><span class="fa fa-star checked"></span><% } %>
            
          </div>
        </div>
      </div>
    <% } %>
  </div>



     
 